.entry
  .row
    .col-xs-4
      .name.pull-left
        = entry.name
    .col-xs-4
      .published-at
        = entry.published_at
    .col-xs-4
      .channel.pull-right
        = link_to entry.feed_name, feed_path(entry.feed)
    .col-xs-12
      .summary
        = raw entry.summary