= simple_form_for feed, remote: true do |f|
  .modal-body
    .row
      .col-xs-12
        .panel
          = render 'form_fields', f: f
          .clearfix
    .row
      .col-xs-4.col-xs-offset-8
        %button.btn{type: "button", data: {dismiss: "modal"}}
          %span.text
            = t('.cancel')
        %button.btn.js-submit{type: "button"}
          %span.text
            = t('.add')

    -# &nbsp; &nbsp;
