= simple_form_for feed, remote: true do |f|
  .modal-body
    .row
      .col-xs-12
        .panel
          = render 'form_fields', f: f
          .clearfix
    .row
      .col-xs-5.col-xs-offset-7
        .pull-right
          %button.btn{type: "button", data: {dismiss: "modal"}}
            %span.text
              = t('.cancel')
          %button.btn.js-submit{type: "button", data: { disable_with: t('.adding') }}
            %span.text
              = t('.add')