= simple_form_for entries_path, method: :get do |f|
  .col-xs-4
    = select_tag :category, options_from_collection_for_select(Category.all, :id, :name, category._?.id), include_blank: true, class: 'form-control'