

-# = search_form_for q, url: entries_path, builder: SimpleForm::FormBuilder do |f|
-#   = f.input :categroy_id, collection: Category.all
-#   = f.input :feed_id, collection: Feed.all
-#   = f.input :state, collection: [['read', 0],['unread', 1],['favorite',2]]
-#   = f.input :submit	