/* ==========================================================================
   Sass
   ========================================================================== */

/* ============================== 
   Font Styles
   ============================== */
$font: verdana, arial, sans-serif;
$fsbody: 16px;
$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 28px;
$fs-h4: 20px;
// $w: 940px;

/* ============================== 
   Colors
   ============================== */
// $bg: #f1f2f7;
// $dbg: #292d30;

$white: #f0f0f0;
$black: #000000;
$gray: #b2b2b2;
$icongray: #4e888a;
$dgray: #b2b2b2;

// icons
$yellow: #ffba2b;
$turquoise: #5da686;

// $border: #b0b0b0;
// $hover: #ececec;
// $even: #f6f6f6;

$primary: #34c6cd; // blue (primary)
$dprimary: #01939a; // dark primary
$gdprimary: #4faaae; // gray dark primary
$glprimary: #69b7ba; // gray light primary
$selectedprimary: #01939a;
$lightblue: #69b7ba;

$secondary: #fbdda0; // beish
$dsecondary: #f6cf7f; // brown



// $positive: #9cce00;
// $negative: #db4015;
// $warning: #f9cf17;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin linear-gradient($value...){
  background: -moz-linear-gradient(left, $value); /* FF3.6+ */
  background: -webkit-linear-gradient(left, $value); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $value); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $value); /* IE10+ */
  // background: linear-gradient($value); /* W3C */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin inset-shadow($length) {
  -moz-box-shadow:    inset 0 0 $length #000000;
  -webkit-box-shadow: inset 0 0 $length #000000;
  box-shadow:         inset 0 0 $length #000000;
}

@function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}

@mixin box-emboss($opacity, $opacity2){
  box-shadow: white($opacity) 0 3px 0, inset black($opacity2) 0 3px 0;
}