.row
  = simple_form_for filters_path, method: :get do |f|
    .col-xs-12
      = select_tag :id, options_from_collection_for_select(Feed.all, :id, :name, feed._?.id), placeholder: t('placeholders.select_feed'), class: 'form-control'