#footer
  .row
    .col-xs-3
      %ul.links
        %li
          %a{href: "#"}
            Contact
        %li
          %a{href: "#"}
            About
        %li
          %a{href: "#"}
            Guide
    .col-xs-6
    .col-xs-2.col-xs-offset-1
      .content-decoration
  .footer-decoration