#footer
  .row
    .col-xs-3
      %ul.links
        %li
          %a{href: "#"}
            = t('.contact')
        %li
          %a{href: "#"}
            = t('.about')
        %li
          %a{href: "#"}
            = t('.guide')
    .col-xs-6
    .col-xs-2.col-xs-offset-1
      .content-decoration
  .footer-decoration
  .license
    = t('.license')