.header
  .row
    .col-xs-2
      #icon
        = image_tag "icon.svg", class: 'img-responsive'
    .col-xs-10
      %h1
        Socialfeed
      %p
        Simple feed-aggregator with social functionality