#header
  .row
    .col-xs-3
      .icon
        = image_tag "icon.svg", class: 'img-responsive'
    .col-xs-9
      .row
        .col-xs-12
          %h1
            Socialfeed
          %p
            Simple feed-aggregator with social functionality
      .row
        .col-xs-1