#header
  .row
    .col-xs-3
      .logo
        = image_tag "flavicon.svg", class: 'img-responsive'
    .col-xs-9
      .row
        .col-xs-9
          .row
            .col-xs-12
              %h1
                Socialfeed
              %p
                Simple feed-aggregator with social functionality
          .row
            .col-xs-1
              .icon
                b